<html>
  <body>
    <h1>Уважаемый {{user}}!</h1>
    <p>Перейдите по ссылке, чтобы создать новый пароль:</p>
    <a href="{{link}}">Восстановить пароль</a>
    <p>Или скопируйте ссылку, если не отображается:</p>
    <p>{{link}}</p>
    <p>Если Вы не делали этот запрос, пожалуйста, просто проигнорируйте это письмо</p>
  </body>
</html>