<html>
  <body>
    <h1>Welcome to Our App, {{user}}!</h1>
    <p>Thank you for signing up. Please click the link below to verify your
      email address:</p>
    <a href="{{Link}}">Verify Email</a>
    <p>If you did not sign up for this account, please ignore this email.</p>
  </body>
</html>