<html>
  <body>
    <h1>ДОбро пожаловать, {{user}}!</h1>
    <p>Благодарим Вас за регистрацию! Пожалуйста, перейдите по ссылке, чтобы 
      подтвердить Вашу учетную запись:</p>
    <a href="{{link}}">Подтвердить Email</a>
    <p>Или скопируйте ссылку, если не отображается:</p>
    <p>{{link}}</p>
    <p>Если Вы у нас не регистрировались, пожалуйста, проигнорируйте это письмо.</p>
  </body>
</html>